<div class="grid justify-center mt-4 gap-2">
  <div class="card card-compact w-96 bg-base-100 shadow-2xl shadow-teal-50 ">
    <div class="card-body">
      <h2 class="card-title justify-center font-bold uppercase"><span class="text-violet-800">OPORTUNIDAD</span>
      </h2>
      <div class="grid ">
        <label for="">Prospecto:</label>
        <input class="input input-bordered input-error w-full max-w-xs" type="text" [(ngModel)]="currentOportunidad.prospectoId">
        <label for="">Monto:</label>
        <input class="input input-bordered input-error w-full max-w-xs" type="text" placeholder="Ejemplo: 52,32" [(ngModel)]="currentOportunidad.monto">
        <label for="">Etapa:</label>
        <input class="input input-bordered input-error w-full max-w-xs" type="text" [(ngModel)]="currentOportunidad.etapaId">
        <label for="">Vendedor:</label>
        <input class="input input-bordered input-error w-full max-w-xs" type="text" [(ngModel)]="currentOportunidad.vendedorId">
        <label for="">Campaña:</label>
        <input class="input input-bordered input-error w-full max-w-xs" type="text" [(ngModel)]="currentOportunidad.campaniaId">
        <label for="">Fecha de creación:</label>
        <input class="input input-bordered input-error w-full max-w-xs" type="date" [(ngModel)]="currentOportunidad.created">
        <label for="">Fecha de actualización:</label>
        <input class="input input-bordered input-error w-full max-w-xs" type="date" [(ngModel)]="currentOportunidad.updated">
        <div class="form-control">
          <label class="label cursor-pointer justify-start">
            <input type="checkbox" class="toggle toggle-primary" checked [(ngModel)]="currentOportunidad.enable"/>
            <span class="label-text ml-4">Activo</span>
          </label>
        </div>
      </div>
      <div class="card-actions justify-end">
        <button class="btn btn-outline btn-error btn-sm" (click)="save()">Guardar</button>
        <button class="btn btn-outline btn-primary btn-sm">Cancelar</button>
      </div>
    </div>
  </div>

</div>
