<app-oportunidad-toolbar [item]="currentOportunidad.descripcion"></app-oportunidad-toolbar>

<div class="grid justify-center mt-4 gap-2">
  <div class="card card-compact w-96 bg-base-100 glass shadow-2xl shadow-zinc-700">
    <div class="card-body">
      <h2 class="card-title justify-center font-bold uppercase">CRUD DE<span class="text-cyan-500">OPORTUNIDAD</span>
      </h2>
      <div class="grid ">
        <label for="">Descripcion</label>
        <input class="input input-bordered input-accent w-full max-w-xs" type="text"
          [(ngModel)]="currentOportunidad.descripcion">
        <label for="">Monto:</label>
        <input class="input input-bordered input-accent w-full max-w-xs" type="number"
          [(ngModel)]="currentOportunidad.monto">
        <label for="">Etapa:</label>
        <input class="input input-bordered input-accent w-full max-w-xs" type="number"
          [(ngModel)]="currentOportunidad.etapaId">
        <label for="">Vendedor:</label>
        <input class="input input-bordered input-accent w-full max-w-xs" type="number"
          [(ngModel)]="currentOportunidad.vendedorId">
        <label for="">Campaña:</label>
        <input class="input input-bordered input-accent w-full max-w-xs" type="number"
          [(ngModel)]="currentOportunidad.campaniaId">
        <label for="">Fecha de creación:</label>
        <input class="input input-bordered input-info w-full max-w-xs" type="date"
          [(ngModel)]="currentOportunidad.created">
        <label for="">Fecha de actualización:</label>
        <input class="input input-bordered input-info w-full max-w-xs" type="date"
          [(ngModel)]="currentOportunidad.updated">
        <div class="form-control">
          <label class="label cursor-pointer justify-start">
            <input type="checkbox" class="toggle toggle-primary" checked [(ngModel)]="currentOportunidad.enable">
            <span class="label-text ml-4">Activo</span>
          </label>
        </div>
        <app-prospect-combobox [idInput]="currentOportunidad.prospectoId"
          (currentProspectId)="currentOportunidad.prospectoId = $event"></app-prospect-combobox>
      </div>
      <div class="divider my-0">
      </div>
      <table class="table table-compact w-80">
        <thead>
          <tr>
            <th>Producto Relacionado</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of currentOportunidad.productos">
            <td>{{producto.nombre}}</td>
            <td>
              <a (click)="removeProductos(producto.productoId)">
                <svg class="w-4 h-4" fill="red" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                  <g>
                    <path d="M490.667,96c0-17.673-14.327-32-32-32h-80.555C364.632,25.757,328.549,0.13,288,0h-64   c-40.549,0.13-76.632,25.757-90.112,64H53.333c-17.673,0-32,14.327-32,32l0,0c0,17.673,14.327,32,32,32H64v266.667   C64,459.468,116.532,512,181.333,512h149.333C395.468,512,448,459.468,448,394.667V128h10.667   C476.34,128,490.667,113.673,490.667,96z M384,394.667C384,424.122,360.122,448,330.667,448H181.333   C151.878,448,128,424.122,128,394.667V128h256V394.667z"/>
                    <path d="M202.667,384c17.673,0,32-14.327,32-32V224c0-17.673-14.327-32-32-32s-32,14.327-32,32v128   C170.667,369.673,184.994,384,202.667,384z"/>
                    <path d="M309.333,384c17.673,0,32-14.327,32-32V224c0-17.673-14.327-32-32-32s-32,14.327-32,32v128   C277.333,369.673,291.66,384,309.333,384z"/>
                  </g>
                  </svg>
              </a>

            </td>
          </tr>
          <td>
            <app-producto-search (productoEmiter)="onSelect($event)"></app-producto-search>
          </td>
        </tbody>
      </table>

      <div class="divider my-0">
      </div>

      <div class="card-actions justify-end">
        <button class="btn btn-accent btn-sm" (click)="save()">Guardar</button>
        <button class="btn btn-info btn-sm">Cancelar</button>
      </div>
    </div>
  </div>

</div>