<app-oportunidad-toolbar [item]="currentOportunidad.descripcion"></app-oportunidad-toolbar>

<div class="grid justify-center mt-4 gap-2">
  <div class="card card-compact w-96 bg-base-100 glass shadow-2xl shadow-zinc-700">
    <div class="card-body">
      <h2 class="card-title justify-center font-bold uppercase">CRUD DE<span class="text-cyan-500">OPORTUNIDAD</span>
      </h2>
      <div class="grid ">
        <label for="">Descripcion</label>
        <input class="input input-bordered input-accent w-full max-w-xs" type="text" [(ngModel)]="currentOportunidad.descripcion">
        <label for="">Prospecto:</label>
        <input class="input input-bordered input-accent w-full max-w-xs" type="number" [(ngModel)]="currentOportunidad.prospectoId">
        <label for="">Monto:</label>
        <input class="input input-bordered input-accent w-full max-w-xs" type="number" [(ngModel)]="currentOportunidad.monto">
        <label for="">Etapa:</label>
        <input class="input input-bordered input-accent w-full max-w-xs" type="number" [(ngModel)]="currentOportunidad.etapaId">
        <label for="">Vendedor:</label>
        <input class="input input-bordered input-accent w-full max-w-xs" type="number" [(ngModel)]="currentOportunidad.vendedorId">
        <label for="">Campaña:</label>
        <input class="input input-bordered input-accent w-full max-w-xs" type="number" [(ngModel)]="currentOportunidad.campaniaId">
        <label for="">Fecha de creación:</label>
        <input class="input input-bordered input-info w-full max-w-xs" type="date" [(ngModel)]="currentOportunidad.created">
        <label for="">Fecha de actualización:</label>
        <input class="input input-bordered input-info w-full max-w-xs" type="date" [(ngModel)]="currentOportunidad.updated">
        <div class="form-control">
          <label class="label cursor-pointer justify-start">
            <input type="checkbox" class="toggle toggle-primary" checked [(ngModel)]="currentOportunidad.enable">
            <span class="label-text ml-4">Activo</span>
          </label>
        </div>
      </div>
      <div class="card-actions justify-end">
        <button class="btn btn-accent btn-sm" (click)="save()">Guardar</button>
        <button class="btn btn-info btn-sm">Cancelar</button>
      </div>
    </div>
  </div>

</div>
