<div class="grid justify-center mt-4 gap-2">
  <div class="card card-compact w-96 bg-base-100 glass shadow-2xl shadow-teal-50 ">
    <div class="card-body">
      <h2 class="card-title justify-center font-bold uppercase">Crud de <span class="text-violet-800">Campaña</span>
      </h2>
      <div class="grid ">
        <label for="">Promocion:</label>
        <input class="input input-bordered input-info w-full max-w-xs" type="number" placeholder="Ejemplo: 52,32" [(ngModel)]="currentCampaign.promocionId">
        <label for="">Medio Publicitario:</label>
        <input class="input input-bordered input-info w-full max-w-xs" type="text" [(ngModel)]="currentCampaign.medioPublicitar">
        <label for="">Fecha de Inicio:</label>
        <input class="input input-bordered input-info w-full max-w-xs" type="date" [(ngModel)]="currentCampaign.fechaInicio">
        <label for="">Fecha de Finalización:</label>
        <input class="input input-bordered input-info w-full max-w-xs" type="date" [(ngModel)]="currentCampaign.fechaFinal">
        <label for="">Fecha de creación:</label>
        <input class="input input-bordered input-info w-full max-w-xs" type="date" [(ngModel)]="currentCampaign.created">
        <label for="">Fecha de actualización:</label>
        <input class="input input-bordered input-info w-full max-w-xs" type="date" [(ngModel)]="currentCampaign.updated">
        <div class="form-control">
          <label class="label cursor-pointer justify-start">
            <input type="checkbox" class="toggle toggle-primary" checked [(ngModel)]="currentCampaign.enable"/>
            <span class="label-text ml-4">Activo</span>
          </label>
        </div>
      </div>
      <div class="card-actions justify-end">
        <button class="btn  btn-primary" (click)="save()">Guardar</button>
        <button class="btn   btn-accent">Cancelar</button>
      </div>
    </div>
  </div>

</div>
