<app-person-toolbar [item]="currentPerson.name"></app-person-toolbar>

<div class="grid justify-center mt-4 gap-2 ">
  <div class="card  card-compact w-96 bg-base-100 glass shadow-2xl shadow-teal-50">
    <div class="card-body">
      <h2 class="card-title justify-center font-bold uppercase">Crud <span class="text-blue-400" >Personas </span></h2>
      <div class="grid">
        <label for="">Nombre: </label>
        <input class="input input-primary m-2" type="text" placeholder=" Ingrese su Nombre" [(ngModel)]="currentPerson.name">
        <label for="">Identificación: </label>
        <input class="input input-primary m-2" type="text" placeholder=" Ingrese su Identificación" [(ngModel)]="currentPerson.dni" >

        <div class="form-control">
          <label class="label cursor-pointer justify-start">
            <input type="checkbox" class="toggle toggle-accent" checked [(ngModel)]="currentPerson.enable"/>
            <span class="label-text"> Activo</span>

          </label>
        </div>

      </div>
      <div class="card-actions justify-end">
        <button class="btn btn-accent btn-sm"  (click)="save()">Guardar </button>
        <button class="btn btn-secondary btn-sm">Cancelar </button>
      </div>
    </div>
  </div><br>


</div><br>
